@tailwind base;
@tailwind components;
@tailwind utilities;

.step {
    display: none;
}

.active {
    display: block;
}

.step-active {
    @apply bg-progress-green;
    color: white;
}

.progress-bar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    @apply bg-progress-line-green;
    z-index: -1 !important;
}

.progress {
    @apply bg-progress-green;
    width: 0%;
    transition: 0.3s;
}
